body{
    margin: 0;
    font-family: "Roboto";
    padding: 0;
    background: black;
    
}

header{
    background: linear-gradient(rgba(5, 5, 5, 0.7), rgba(0, 0, 0, 0.7)), url(netflix_image_asset/PH-en-20250113-TRIFECTA-perspective_8171c01e-c334-403b-bfa2-133bcc962aaf_small.jpg);
    box-shadow: inset 0  0em 5em 1em #000;  
    background-size: cover ;
    padding-bottom: 250px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 40px ;  
    width:  120px;
    margin-left: 120px;
}

.top-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px ;
}
.lang {
    display: flex;
    align-items: center;
    background: none;
    color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 15px;  
}
.btn-sign-in {
    background-color: rgb(255, 51, 0);
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(201, 42, 3);
    color: rgb(238, 232, 232);
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 570px;
    margin: 0 auto;
    text-align: center;
    gap: 0px;
    color: white;
}

h1{
    margin-top: 40px;
    margin-bottom: 0px;
    color: white;
    font-size: 50px;
}
.main-text h3{
    margin-top: 5px;
}
span{
    display: block;
}
.main-text p,footer p {
    font-size: 12px ;
}

.search-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-container input{
    display: flex;
    background: none;
    color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 7px 15px;
    padding-right: 100px;
    
}
.btn-get-started{
    background-color: rgb(255, 51, 0);
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
}
.title{
    margin-bottom: 10px;
    color: white;
}

section {
    width: 1100px;
}
.trending, .reasons-content{
    text-align: start;
    margin: 0 auto;
}
.trending ul, .reasons{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px;
    padding: 0;
}
li{
    list-style: none;
}   
.trending img{
    border-radius: 10px;
}

.trending button{
    height: 120px;
    width: 20px;
    background: #1a1a1a;
    color: grey ;
    border-radius: 5px;
    border: none;
}

.reasons-content{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-content: center;
}

.reasons div{
    background: #192247;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    height: 300px;
    width: 240px;  
}

.reasons p{
    color: #b6b8c3;
}

.start-bottom{
    margin: 100px auto 30px;
    
}
footer p{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 570px;
    margin: 20px auto;
    text-align: center;
    gap: 0px;
    font-size: 14px;
}   
footer .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
footer .search-container input{
    width: 460px;
    height: 56px;
}

.btn-get-started-ftr{
    background-color: rgb(255, 51, 0);
    color: white;
    padding: 27px 15px;
    border: none;
    border-radius: 5px;

}
@media (max-width: 1023px){
    .logo{
    height: 50px ;  
    width:  120px;
    margin-left: 120px;
}
.top-buttons{
    gap: 15px;

}
    .btn-sign-in {
    padding: 10px 15px;
    
}
.lang {
    
    padding: 8px 15px;  
}
.trending{
    gap: 10px;
    width: 80%;
}
.trending img{ 
    height: 219px ;
    width: 90% ;
    
}
.main-text h1{
    font-size: 30px;
    }

.main-text p{
    font-size: 19px;
}

.search-container input{
    padding: 20px 30px 20px 15px;
    font-size: 17px;

}
.btn-get-started{
    background-color: rgb(255, 51, 0);
    color: white;
    padding: 21px 15px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}
.reasons{
    display: block;
}
.reasons div{
    width: 100%;
    height: 50%;
    margin-bottom: 10px;

}
   
}





