body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: dodgerblue;
  text-align: center;
  padding: 10px;
  margin: 0px 15px; 
  color: #ffffff;
}
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 0px 15px;
  border: #d8d4d4 1px solid ;

}

.left-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 0.3;
  gap: 20px;
  color: #ffffff;
  padding: 10px;
  background: #d8d4d4;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
  
}

.top-bar, .main-content {
  display: flex;
  gap: 20px;
}

.box {
  background-color: lightcoral;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
}

footer{
    background: #ff4500;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 15px;
    padding: 10px;
}