
body{
    margin: 0;
    font-family: "Roboto";
    padding: 0;
    background:  #ffffff;
}
header{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-top: 3px #E7700D solid;
    border-bottom: 1px #CACED3 solid ;

}

nav{
    display: flex;
    list-style-type: none;
    position: absolute;
    left: 120px;
    align-items: center;

}
.main-logo{
    width: 150px;
    height: 30px;
    padding: 0 8px;
}


.nav-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 5px;
}
.nav-list a{
    text-decoration: none;
    display: inline-block;
    margin: 0px 15px;       
    color: #878a8d;
    font-size: 13px;
}


.search-container input{
    display: flex;
    justify-content: center;
    color: black;
    border: #CACED3 1px solid;
    border-radius: 5px;
    padding: 7px 9px 7px 32px;
    width: 670px;
}

form{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 10px;
    font-size: 13px;
}

.btn-blue{
    padding: 8px 10px;
    background: #1B75D0;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
}

.btn-orange{
    padding: 8px 10px;
    background: #E7700D;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn-white{
    padding: 8px 10px;
    color: #1B75D0;
    border: 1px #1B75D0 solid;
    border-radius: 5px;
    text-decoration: none;
}

.blue-text{
    color: #1B75D0;
}

.no-underl{
    text-decoration: none;
}



aside{
    display: flex;
    flex-direction: column;
}
aside a{
    text-decoration: none;
    color: #878a8d;
}   
aside li{
    list-style-type: none;
    margin: 15px 0px;
    display: flex;
    align-items: start;
}

h3{
    font-weight: bold;
    font-size: 13px;
}

main{
    margin-left: 90px;
    display: flex;
}

span{
    display: block;
}
.highlight{
    display: inline-block;
    padding: 5px 10px;
    background-size: contain;
    background: url(background-image.png) no-repeat center;
    color: white;
    width: 200px;
    text-align: center;
}
    

section{
    margin-left: 72px;
    position: relative;
    width: 1050px;

}
h1{
    font-size: 35px;
    margin-bottom: 20px;
}
p{
    font-size: 15px;
    line-height: 1.5;
}

article{
    padding: 30px;
}


.buttons{
    margin-top: 30px;
}
.hero{
    position: relative;
    padding-bottom: 54px;
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #F9FAFA;
    color: #3e3f40;

}
.hero img{
    position: absolute;
    width:  500px;
    height: 250px;
    left:550px;
    top: 100px;
}

.divider{
    color: #3e3f40;
    margin-top: 40px;
    margin-bottom: 25px;

}
.teams{
    position: relative;
    border: 1px #a2a6a9 solid;
    border-radius: 5px;
    color: #3e3f40;
}
.teams-logo{
    width: 150px;
    height: 35px;
    padding: 0 8px;
}

.teams-img{
    position: absolute;
    width:  450px;
    height: 160px;
    left:599px;
    bottom: 0px;
    
}

.flow-ai{
    margin-top: 20px;
    background: #3B4045;
    color: white;
    position: relative;
    border-radius: 5px;
}

.flow-logo{
    width: 180px;
    height: 50px;
    padding: 0 8px;
}
.flow-img{
    position: absolute;
    width:  450px;
    height: 160px;
    left:599px;
    bottom: 1px;
}

.both{
    display: flex;
    margin: 0 auto;
    align-content: center;
    justify-content: space-between;
    padding-top: 20px;
}

.ads-api-container{
    border: 1px #a2a6a9 solid;
    border-radius: 5px;
    color: #3e3f40;
    width: 450px;
    
}
.api-container{
    margin-bottom: 50px;
}
.ad-logo{
    width: 150px;
    height: 35px;
    padding: 0 8px;
}





.flow-api-logo{
    width: 150px;
    height: 35px;

}

.api{
    border: 1px #a2a6a9 solid;
    border-radius: 5px;
    color: #3e3f40;
    position: relative;
    margin-bottom: 40px;
}

.api-img{
    position: absolute;
    width:  500px;
    height: 250px;
    left:550px;
    bottom: 0px;
}

